version: '2.2'
services:
  logstash_docker:
    image: {{ logstash_docker_image_name }}:{{ logstash_docker_version }}
    volumes:
{% if logstash_docker_outputs.amazon_es is defined %}
      - ./custom-docker-entrypoint:/usr/local/bin/custom-docker-entrypoint
{% endif %}
      - ./pipeline:/usr/share/logstash/pipeline
      - ./patterns:/usr/share/logstash/patterns
      - ./logstash.yml:/usr/share/logstash/config/logstash.yml
      - ./jvm.options:/usr/share/logstash/config/jvm.options
{% if logstash_docker_tls_key != "" %}
      - ./server-key.pem:/server-key.pem:ro
{% endif %}
{% if logstash_docker_tls_cert != "" %}
      - ./server.pem:/server.pem:ro
{% endif %}
{% if logstash_docker_tls_cacert != "" %}
      - ./ca.pem:/ca.pem:ro
{% endif %}
    ports:
      - 5044:5044
    restart: always
{% if logstash_docker_outputs.amazon_es is defined %}
    entrypoint:
      - /usr/local/bin/custom-docker-entrypoint
{% endif %}
