input {
{% for k, v in logstash_docker_inputs.iteritems() %}
  {{ k|e }} {
{% for key, value in v.iteritems() %}
    {{ key|e }} => {{ value }}
{% endfor %}
  }
{% endfor %}
}

output {
{% for k, v in logstash_docker_outputs.iteritems() %}
  {{ k|e }} {
{% for key, value in v.iteritems() %}
    {{ key|e }} => {{ value }}
{% endfor %}
  }
{% endfor %}
}
